In [64]:
import pandas as pd
import numpy as np

In [108]:
# Student data filepath
student_data_path = "data/StudentPerformanceFactors.csv"

# Student data dataframe created by reading the CSV with pandas
student_df = pd.read_csv(student_data_path)

#Map the String values for each column needed
student_df['Parental_Involvement'] = student_df['Parental_Involvement'].map({'Low': 1, 'Medium': 2, 'High': 3})
student_df['Access_to_Resources'] = student_df['Access_to_Resources'].map({'Low': 1, 'Medium': 2, 'High': 3})
student_df['Motivation_Level'] = student_df['Motivation_Level'].map({'Low': 1, 'Medium': 2, 'High': 3})

In [110]:
#Dataframe sorted by Exam sxocres over 90
A_grade_dataframe = student_df[(student_df["Exam_Score"] >= 90)]
A_grade_dataframe = A_grade_dataframe.sort_values(["Exam_Score"], ascending=False)
A_grade_dataframe.head(15)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
1525,27,98,1,Medium,Yes,6,93,Low,No,5,High,High,Public,Positive,3,No,High School,Moderate,Female,101
94,18,89,3,Medium,Yes,4,73,Medium,Yes,3,High,Medium,Private,Positive,2,No,College,Near,Female,100
2425,23,83,3,High,Yes,4,89,Low,Yes,1,Medium,Medium,Public,Negative,3,No,High School,Far,Male,99
3579,14,90,3,High,Yes,8,86,Medium,Yes,4,Medium,Medium,Private,Negative,2,No,High School,Near,Female,99
6393,16,83,1,Medium,Yes,8,92,Low,Yes,2,High,High,Public,Positive,4,No,Postgraduate,Near,Female,98
6347,28,96,3,Low,Yes,4,98,High,Yes,1,High,High,Public,Positive,3,No,High School,Near,Male,98
4192,28,90,1,Medium,Yes,9,91,Medium,Yes,0,Medium,Medium,Public,Positive,2,No,College,Moderate,Female,98
919,21,74,3,Medium,No,6,94,Medium,Yes,1,Low,High,Public,Positive,1,No,High School,Near,Male,97
529,15,83,2,Medium,No,7,97,Medium,Yes,2,Low,High,Private,Neutral,2,No,High School,Near,Female,97
5966,25,99,2,Medium,Yes,7,77,Medium,Yes,0,High,High,Public,Neutral,3,No,High School,Near,Male,97
3457,18,93,2,Medium,No,7,76,Low,Yes,2,Medium,Medium,Private,Neutral,4,No,High School,Near,Female,96
4297,21,67,2,Medium,Yes,6,88,Medium,Yes,1,Low,Medium,Private,Positive,5,No,Postgraduate,Near,Female,95
6522,18,90,3,High,Yes,6,54,Low,Yes,1,Medium,High,Public,Negative,3,No,High School,Near,Female,95
3124,19,90,2,High,Yes,5,90,Low,Yes,0,Low,Medium,Public,Neutral,2,No,College,Far,Female,94
4405,25,98,2,Medium,Yes,7,90,High,Yes,1,High,Low,Public,Neutral,4,No,Postgraduate,Near,Male,94

In [104]:
#Private and public dataframes
private_school_dataframe = student_df[(student_df["School_Type"] == "Private")]
public_school_dataframe = student_df[(student_df["School_Type"] == "Public")]

In [86]:
#add exam score difference column
student_df['Score_Difference'] = student_df['Exam_Score'] - student_df['Previous_Scores']
grade_change_dataframe = student_df.sort_values(["Score_Difference"], ascending=False)
grade_change_dataframe.head(15)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,...,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score,Score_Difference
6522,18,90,High,High,Yes,6,54,Low,Yes,1,...,High,Public,Negative,3,No,High School,Near,Female,95,41
1109,31,69,Medium,Medium,No,7,52,Medium,No,2,...,Low,Public,Neutral,5,No,College,Far,Male,92,40
4583,25,73,Medium,Medium,Yes,7,56,Medium,Yes,2,...,Medium,Public,Neutral,4,No,High School,Near,Female,93,37
217,19,70,Medium,Low,No,7,54,High,Yes,0,...,Medium,Public,Positive,2,Yes,High School,Moderate,Male,89,35
2421,27,90,Low,Medium,No,9,52,Low,No,2,...,High,Public,Positive,2,Yes,College,Near,Male,86,34
404,17,77,Low,High,Yes,5,53,Medium,Yes,2,...,Medium,Public,Neutral,3,No,College,Near,Male,86,33
2595,7,69,Medium,High,Yes,8,54,High,Yes,1,...,High,Public,Positive,2,No,High School,Far,Male,87,33
4355,24,70,Medium,High,Yes,9,52,High,Yes,1,...,Medium,Public,Positive,2,No,Postgraduate,Moderate,Male,85,33
2687,11,71,Low,Medium,Yes,8,55,Medium,Yes,1,...,Medium,Public,Negative,3,No,College,Near,Female,87,32
1844,21,92,High,High,Yes,9,58,Medium,Yes,2,...,Medium,Public,Neutral,5,No,High School,Moderate,Female,89,31
558,22,70,Low,Medium,No,7,53,Low,Yes,1,...,Medium,Public,Positive,3,No,High School,Near,Female,83,30
3932,25,66,High,Medium,Yes,7,55,Medium,Yes,4,...,Medium,Public,Neutral,2,Yes,High School,Moderate,Female,84,29
560,22,71,Low,High,Yes,9,56,High,Yes,1,...,High,Public,Neutral,3,Yes,College,Near,Female,84,28
2513,18,86,High,Medium,No,8,60,Medium,Yes,2,...,High,Private,Neutral,1,No,College,Near,Male,88,28
94,18,89,High,Medium,Yes,4,73,Medium,Yes,3,...,Medium,Private,Positive,2,No,College,Near,Female,100,27

In [92]:
#dataframe sorted by Attendance
Sorted_dataframe = student_df.sort_values(["Attendance"], ascending=False)
Sorted_dataframe.head(15)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,...,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score,Score_Difference
1537,17,100,High,Medium,No,8,98,Low,Yes,0,...,High,Public,Positive,4,No,College,Near,Male,72,-26
3402,21,100,Medium,Medium,No,5,92,Low,Yes,3,...,Low,Public,Positive,3,Yes,Postgraduate,Near,Male,71,-21
1913,23,100,High,Low,Yes,4,59,Medium,Yes,2,...,Medium,Public,Positive,4,No,High School,Near,Female,72,13
5947,27,100,Low,Medium,Yes,4,97,Low,Yes,4,...,High,Public,Positive,3,No,High School,Near,Female,74,-23
3560,21,100,Low,High,No,6,94,Medium,No,1,...,Medium,Public,Positive,3,No,College,Moderate,Female,72,-22
3527,32,100,Low,High,Yes,5,67,Medium,No,4,...,Medium,Public,Positive,3,No,High School,Far,Male,74,7
6359,11,100,High,High,Yes,8,58,High,Yes,1,...,Medium,Private,Positive,3,No,College,Near,Female,70,12
413,28,100,High,Low,Yes,6,72,Medium,Yes,1,...,Medium,Public,Negative,2,No,Postgraduate,Near,Female,73,1
1984,26,100,High,Medium,Yes,6,79,High,Yes,1,...,High,Public,Positive,3,No,College,Moderate,Male,75,-4
4967,27,100,High,Medium,No,7,67,Medium,Yes,1,...,High,Public,Neutral,3,No,College,Moderate,Male,74,7
5010,30,100,High,High,Yes,6,90,Low,Yes,0,...,Low,Public,Positive,2,Yes,High School,Near,Male,74,-16
1001,26,100,High,High,No,7,74,Low,Yes,1,...,Medium,Public,Neutral,2,No,High School,Far,Female,72,-2
2059,21,100,Medium,Medium,No,6,67,Medium,Yes,0,...,Medium,Public,Positive,3,No,High School,Far,Male,70,3
3414,17,100,Medium,Medium,No,5,76,Low,Yes,3,...,High,Private,Neutral,3,No,Postgraduate,Moderate,Female,70,-6
431,8,100,High,Medium,Yes,8,92,Medium,Yes,1,...,High,Public,Neutral,3,No,Postgraduate,Moderate,Female,70,-22

In [106]:
exam_score_mean = A_grade_dataframe['Physical_Activity'].mean()
exam_score_mean

2.9545454545454546